@charset "UTF-8";


.container {
	 width: 400px; 
	 margin: 50px auto; 
	 border: 1px solid #ccc; 
	 padding: 20px; 
	 border-radius: 10px; 
 }
 
.success-msg { 
	color: green; 
	font-weight: bold; 
}

.data-box { 
	background-color: #f9f9f9; 
	padding: 15px; 
	border-radius: 5px; 
	margin-top: 10px; 
}
 