<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>my-jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
	<context-param>
	    <param-name>adminEmail</param-name>
	    <param-value>admin@test.com</param-value>
	</context-param>
	
  	<!-- ex12_exception.jsp -->
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/jsp1/ch08/ex12_exception_error.jsp</location>
	</error-page>
	
	<error-page>
		<exception-type>java.lang.ArithmeticException</exception-type>
		<location>/jsp1/ch08_내장객체/ex12_arithmetic_error.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>500</error-code>
		<location>/jsp1/ch08/ex12_500error.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/jsp1/ch08/ex12_404error.jsp</location>
	</error-page>
	
</web-app>